
:root{
    --h-color: #9c2121;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.color{
    color: var(--h-color);
}
.color-light{
    color: #cf6565;
}
.vs-text{
    font-size: .7rem;
}


footer{
    color: #fff;
    background-color: #801c1c;
    padding: .8em;
}
/*.introductory{
    display: flex;
    align-content: center;
    justify-content: center;
}*/

.container-mv{
    width: 70%;
    border-radius: 1em;
    box-shadow: .1em .1em .3em .1em #9c212199;
    padding: 1.3em;
    margin: 2em;
}
.container-mv h3{
    color: #9c2121;
}

.display-7{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-8{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2;
}

.about-child{
    padding: 1em;
    border-radius: 1em;
    width: 80%;
    box-sizing: inherit;
}