
@font-face {
    src: url("../fonts/Parkinsans.ttf");
    font-family: "parkinsans";
}

*{
    font-family: "parkinsans"
}

body {
    background: linear-gradient(135deg, #fdfdfd, #f5f5f5, #fafafa);
    min-height: 100vh;
    width: 100%;
    /* overflow-x: hidden; */
}

.roon {
    color: #9c2121
}

.dark-roon {
    color: #491111
}
.bg-dark-roon {
    background-color: #3a0e0e;
    border-bottom: .2em solid #9c2122;
}
.bg-dark-roon-sm {
    background-color: #3a0e0e;
    border-bottom: .1em solid #9c2122aa;
}
.naked-link-sm {
    text-decoration: none;
    color: #fff;
    opacity: .8;
    font-size: .8rem;
}

.bg-gradient-roon {
    background-image: linear-gradient(45deg, #e7e1e1, #9b7474);
}

.body {
    background-image: url("../imgs/intro-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position-y: -30em;
    height: 100vh;
    transform: translateY(-0.5em);
}
.body-2 {
    background-image: url("../../../data/moments/clearTrof.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position-y: -30em;
    height: 100vh;
    transform: translateY(-0.5em);
}

.about-side-image {
    width: 480px
}



/* Scrolling animations */
@keyframes appear {
    from {
        opacity: 0;
        scale: .5;
    } to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes appearRight {
    from {
        opacity: .5;
        transform: translateX(4em);
    } to {
        opacity: 1;
        transform: translateX(0em);
    }
}

@keyframes appearLeft {
    from {
        opacity: .5;
        transform: translateX(-4em);
    } to {
        opacity: 1;
        transform: translateX(0em);
    }
}

.scronimate {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.scronimate-right {
    animation: appearRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.scronimate-left {
    animation: appearLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Text animations */
@keyframes jump {
    0% {
        transform: translateY(-.0em);
    }
    25% {
        transform: translateY(-.15em);
    } 50% {
        transform: translateY(-.2em);
    } 75% {
        transform: translateY(-.15em);
    } 100% {
        transform: translateY(-.0em);
    }
}

.text-jump-bruh {
    animation: jump 3s linear;
    animation-iteration-count: infinite;
}

strong {
    color: #000;
}

.contact-side-image {
    width: 300px;
}


.header {
    background-color: #461010cc;
    transform: translateY(.5em);
    /* position: fixed; */
}

.header nav a:hover{
    color: #9c2121
}

.hero div {
    margin: 3em;
}

.resources {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#go {
    float: right;
}

.resources .row div {
    background-color: aquamarine;
    width: 6em;
    height: 6em;
    margin: .25em;
    border-radius: .3em;
}

.reviewer-profile {
    width: 2.7em;
    height: 2.7em;
    border-radius: 100%;
    background-color: #491111;
    margin: .2em;
}

.rev-profile div, .rev-profile h5 {
    display: inline-block;
}

.rev-profile div{
    margin-right: .8em;
}

.rev-profile{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.review-boxes {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: top;
    scrollbar-width: none;
    padding-left: 1em;
}

.review-boxes-wrapspace {
    overflow-x: auto;
    white-space: normal;
}

.review-boxes .box {
    white-space: normal;
}

.review-boxes .box {
    display: inline-block;
    margin-right: .6em;
}

.see-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer{
    padding: .8em;
    background-color: #212529;
    color: #E5E6FF;
    border-top: .2em solid #9c2121;
}
.innfo{
    font-size: .8rem;
    opacity: .8;
}

.additional-info{
    margin: .7em;
    margin-bottom: 1.4em;
}

strong, h4{
    color: #e8e8e8;
}
h4{
    margin-bottom: .2em;
    font-size: 1rem;
    color: #fff;
}

footer nav a{
    font-size: .8rem;
    color: #00ffff;
}

#devman{
    font-size: .8em;
}

.mission-vision-about {
    display: flex;
    gap: .32em;
    flex-wrap: wrap;
    margin-top: 2em;
}

.mission-vision-about .m-box {
    flex: 1;
    border-left: .38em solid #9c21ff;
    margin: 1em;
    padding: .34em;
    box-shadow: -.2em .3em .7em .1em #ddd;
    border-radius: .8em;
}

.left-bordered-box {
    margin-top: 1em;
    margin: .4em;
    border-radius: .8em;
    border-left: .38em solid #291ce2;
    padding: .34em;
    margin-right: 1em;
}

.hovermation:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

.uniform-pics {
    overflow-x: auto;
    white-space: nowrap;
}
.uniform-pics .uniform-pic {
    display: inline-block;
    width: 30%;
    margin: .4em;
    border-radius: 2em;
}

#emailDivInContactPage {
    width: 32em;
    height: 32em;
}

.admin-links {
    overflow-x: auto;
    height: 100vh;
}
.admin-link {
    display: inline-block;
    width: 20em;
    color: #313030;
}
.underline {
    text-decoration: underline;
}
.no-line{
    text-decoration: none;
}

.rounded-pp {
    width: "2.8em";
    height: "2.8em";
    margin-right: ".3em";
    border-radius: "100%";
}

.side-box {
    z-index: 1;
}

/*moment card shii*/
.moment-card {
    width: 20em;
    height: 25em;
    border: .1em solid #999;
    border-radius: .3em;
    margin: .4em;
}
.moment-card-footer {
    padding: .3em;
    border-top: .1em solid #999;
}


/* PHONE STYLES */
@media screen and (max-width: 700px) {
    /* body{
        background-color: red;
    } */
    .body{
        background-position-y: -10em;
    }
    #momentsDiv {
        transform: translateY(-20em);
    }
    .goUpBg{
        transform: translateY(-20em);
    }
    .hero div {
        margin: 1em;
    }
    .hero div p {
        font-size: smaller;
    }
    .see-about {
        font-size: 3rem;
        margin-top: 1.5em;
    }
    .about-side-image {
        width: 300px;
        display: flex;
        justify-self: center;
    }
    .contact-side-image {
        width: 300px;
        display: flex;
        justify-self: center;
    }
    .left-bordered-box {
        width: 90%;
    }
    .uniform-pics .uniform-pic {
        width: 70%;
    }
    #emailDivInContactPage {
        display: none;
    }
    .body-2 {
        background-image: url("../../../data/moments/clearTrof.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position-y: -20em;
        background-position-x: -10em;
        height: 135vh;
        transform: translateY(-0.5em);
    }
    .white-on-phone {
        color: rgb(255, 255, 255);
    }
    .application-form{
        width: 90%;
    }
}

/* BIG ASS SCREEN TYPE SH*T */

@media screen and (min-width: 480px) {
    .contact-side-image {
        width: 500px;
        transform: translateX(8em);
    }
    .email-side-image {
        width: 300px;
    }
    .momentSmaller {
        transform: scale(.8);
    }
    .d-lg-none-bruh {
        display: none;
    }
    .p-lg-3{
        padding: 3em
    }
}

